@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-ThinItalic-webfont.woff) format('woff');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 300;
}

:root {
    --dark-green: hsla(120, 61%, 10%);
    --light-green: hsla(120, 30%, 80%);
    --light-pink: hsla(351, 100%, 86%);
    --pale-yellow: hsla(55, 67%, 80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || General Styling */

html {
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    width: 80%;
    margin: 0 auto;
}

/* || Image Styling */
.logo {
    min-width: 55px;
    max-width: 5vw;
}

div.logo {
    margin-inline-end: .5rem;
}

.logo img {
    max-width: 100%;
}

/* || General Section Styling */

body > header {
    background-color: var(--pale-yellow);
    padding: .5rem 0;
}

header h1 {
    font-size: calc(1.75rem + 0.25vw);
    align-self: center;
}

.first-section {
    background-color: var(--dark-green);
    min-height: 3rem;
}

.second-section {
    background-image: url(images/grenada-coast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.third-section {
    background-color: var(--pale-yellow);
}

footer {
    background-color: var(--dark-green);
    color: hsla(0, 0%, 100%);
}

/* || Specific Section Styling */

/* || Header Styling */

header .page {
    color: var(--dark-green);
    display: flex;
    align-items: flex-end;
}

nav {
    position: relative;
}

nav .menu {
    display: flex;
    list-style-type: none;
    color: hsla(0, 0%, 100%);
    justify-content: space-around;
}

nav li {
    font-size: 1.2rem;
}

nav li:hover {
    background-color: var(--light-pink);
}

nav .menu li a {
    padding: .5rem 1rem;
}

.toggle-button {
    position: relative;
    top: .6rem;
    left: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: .25rem;
    width: 100%;
    background-color: hsla(0, 0%, 100%);
    border-radius: 10px;
}


/* Hero Text Styling */

.hero-text {
    width: 35rem;
    max-width: 100%;
    background-color: var(--dark-green);
    color: var(--light-green);
    border-radius: 15px;
    padding: 1.5rem 1.5rem;
    margin: 10vh 0;
}

.hero-text h2 {
    padding: 2rem 1rem;
    font-size: 2rem;
}

/* || Card Section Styling */

.cards {
    display: flex;
    color: var(--light-green);
    justify-content: space-around;
    gap: 5vw 2vw;
    padding: 5rem 0;
}

.card {
    background-color: var(--dark-green);
    padding: 3rem 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-height: 25rem;
}

.card h3 {
    font-size: 1.75rem;
}

/* || Footer Styling */

address {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}

address a {
    color: hsla(0, 0%, 100%);
}

figure a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* || Link Styling */

.menu a {
    outline: none;
    line-height: 3;
}

.menu a:link, .menu a:visited {
    color:hsla(0, 0%, 100%);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    color: var(--dark-green);
}


.pink-highlight {
    color:var(--light-pink);
}

@media screen and (max-width: 970px) {
    .cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    header h1 {
        font-size: 1.5rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar-links {
        padding-block-start: 1rem;
    }

    .navbar-links .menu {
        display: none;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }

    .menu.active {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .hero-text {
        width: 100%;
    }
}