<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eLandGrenada: Search</title>
    <link href="./css/styles.css" rel="stylesheet" type="text/css" />
    <link href="./css/search.css" rel="stylesheet" type="text/css" />
    <script src="./js/script.js" defer></script>
    <script src="./js/properties.js" defer></script>
</head>
<body class="search-page">
    <header>
        <div class="page">
            <div class="logo">
                <a href="./">
                    <img src="./images/Coat_of_arms_of_Grenada.png" alt="Coat of arms of Grenada." />
                </a>
            </div>
            <h1>eLandRegistry.gov.gd</h1>
        </div>
    </header>
    <main>
        <!--First section will be the nav section. -->
        <section class="first-section">
            <div class="page">
                <nav class="navbar">
                    <a href="#" class="toggle-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                    <div class="navbar-links">
                        <ul class="menu">
                            <li><a href="./">Home</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="./about">About</a></li>
                            <li><a href="./register">Register</a></li>
                            <li class="signin"><a href="./login">Sign In</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>

        <!--Second section based on JSTOR-->
        <!--How do I make it so that this has its own style? Stylesheet was designed for one page only-->
        <section class="pale-yellow">
            <div class="page">
                <h1 class="advanced">Advanced Search</h1>
                <form>
                    <fieldset class="search-bar"> <!--Should I use a fieldset or div for this?-->
                        <p>
                            <label for="query">Query: </label>
                            <input id="query" name="query" type="search" />
                        </p>
                        <select id="filter" name="filter">
                            <option value="address">Address</option>
                            <option value="book">Book number</option>
                            <option value="docNumber">Document registration number</option>
                            <option value="year">Document entry year</option>
                            <option value="owner">Known Names</option>
                        </select>
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </section>

        <section class="pale-yellow results">
            <div class="page" id="results">

            </div>
        </section>
        <!--This will be the modal button (login popup).-->
        <div class="modal">
            <div class="login-background"></div>
            <div class="login">
                <h2>Login</h2>
                <h3>Please enter your credentials</h3>
                <form class="login-form">
                    <input type="text" placeholder="Username" id="login-username" name="login-username"/>
                    <input type="password" placeholder="Password" id="login-password" name="login-password"/>
                    <a href="#">Forgot your password?</a>
                    <button type="submit">LOGIN</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="page">
            <address>
                <div class="contact-info">
                    <p>Contact us at: 473-440-2030 | <a href="mailto:elandgrenada@gmail.com">elandgrenada@gmail.com</a></p>
                    <p>Supported by UWI</p>
                    <p>Funding by the World Bank</p>
                    <p>(Un)official website for the Government of Grenada</p>
                    <p><small>Looking for Grenada government information and services? <a href="https://gov.gd">Visit gov.gd</a></small></p>
                </div>
                <figure class="logo">
                    <a href="https:gov.gd">
                        <img src="./images/Coat_of_arms_of_Grenada.png" alt="Coat of arms of Grenada." />
                        <figcaption>GOV.GD</figcaption>
                    </a>
                </figure>   
            </address>
        </div>
    </footer>
</body>
</html>