:root {
    --dark-green: hsla(120, 61%, 10%);
    --light-green: hsla(120, 30%, 80%);
    --light-pink: hsla(351, 100%, 86%);
    --pale-yellow: hsla(55, 67%, 80%);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    min-width: 50px;
    margin-top: 1rem;
}

.search-bar {
    font-size: 1.5rem;
    display: flex;
    margin-inline-end: 10px;
    padding: 3px 5px;
    max-width: 80%;
    color: var(--dark-green);
}

.search-bar p {
    display: flex;
}

.search-bar input {
    margin: 0 5px;
}

.advanced {
    font-size: 2rem;
    padding-top: 1rem;
    color: var(--dark-green);
}

.pale-yellow {
    background-color: var(--pale-yellow);
}

.results {
    padding: 2rem 0;
    flex-grow: 1;
}
.result {
    list-style-type: none;
    padding: 2rem 2rem;
    background-color: var(--dark-green);
    color: var(--light-green);
    border-radius: 15px;
    margin-bottom: 10px;
}
.result h2 {
    font-size: 1.75rem;
}

.result h3 {
    font-size: 1.5rem;
}
.result p{
    font-size: 1.25rem;
}

@media screen and (max-width: 668px) {
    .search-bar {
        flex-direction: column;
        gap: 5px;
    }
    button {
        flex-grow: 1;
    }
}

@media screen and (max-width: 370px) {
    form {
        flex-direction: column;
    }
}